controlling/images/location_results.png filter=lfs diff=lfs merge=lfs -text
controlling/images/longitudinal_controller.png filter=lfs diff=lfs merge=lfs -text
controlling/images/result.mp4 filter=lfs diff=lfs merge=lfs -text
controlling/images/trajectory.png filter=lfs diff=lfs merge=lfs -text
controlling/images/steer_output.png filter=lfs diff=lfs merge=lfs -text
controlling/images/throttle_output.png filter=lfs diff=lfs merge=lfs -text
controlling/images/brake_output.png filter=lfs diff=lfs merge=lfs -text
controlling/images/forward_speed.png filter=lfs diff=lfs merge=lfs -text
controlling/images/lateral_controller.png filter=lfs diff=lfs merge=lfs -text
controlling/images/speed_results.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/data/pt1_data.pkl filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/errors.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/estimated_trajectory.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/gt_trajectory.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/linearization.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/measurement_update_2.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/prediction_step.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/measurement_update.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/overview.png filter=lfs diff=lfs merge=lfs -text
error_state_estimation/images/uncertainty.png filter=lfs diff=lfs merge=lfs -text
modeling/images/sample_ramp.png filter=lfs diff=lfs merge=lfs -text
modeling/images/spiral-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/square-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/wave-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/infinity-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/kinematic_model.png filter=lfs diff=lfs merge=lfs -text
modeling/images/lateral_model.png filter=lfs diff=lfs merge=lfs -text
modeling/images/longitudinal-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/longitudinal_dynamic_model.png filter=lfs diff=lfs merge=lfs -text
modeling/images/sample_throttle.png filter=lfs diff=lfs merge=lfs -text
modeling/images/circle-trajectory.gif filter=lfs diff=lfs merge=lfs -text
modeling/images/kinematic_results.gif filter=lfs diff=lfs merge=lfs -text
position_estimation/images/Estimated-YX-trajectory.gif filter=lfs diff=lfs merge=lfs -text
position_estimation/images/Estimated-YX-trajectory.png filter=lfs diff=lfs merge=lfs -text
position_estimation/data/data.pickle filter=lfs diff=lfs merge=lfs -text
position_estimation/images/Estimated-Theta-trajectory.gif filter=lfs diff=lfs merge=lfs -text
position_estimation/images/Estimated-Theta-trajectory.png filter=lfs diff=lfs merge=lfs -text
